<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="{% url 'list-contacts' %}">Go back</a></p>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        First Name : <input type="text" name="f_name"><br>
        Last Name : <input type="text" name="l_name"><br>
        Email : <input type="text" name="email"><br>
        Phone : <input type="text" name="phone"><br>
        <input type="submit">
    </form>
   <hr>
    
    <!-- <hr><br>
    <h1>Contacts</h1>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Pone</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.first_name }} {{contact.last_name}}</td>
            <td>{{ contact.phone }}</td>
        </tr>
        {% endfor %}
    </table> -->

</body>
</html>